{% extends "base.html" %}
{% load static %}

{% block content %}
 <h2 class="display-6 text-center mb-4">Kitaplar</h2>
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;">İsim</th>
               <th style="width: 22%;">Açıklama</th>
            <th style="width: 22%;">Kategori</th>
            <th style="width: 22%;">Yazarlar</th>

          </tr>
        </thead>
        <tbody>
        {% for book in books %}
          <tr>
            <th >{{ book.name }}</th>
            <td>{{ book.description }}</td>
            <td>{{ book.category }}</td>
            <td><button data-book-id="{{ book.id }}" onclick="deleteBook({{ book.id }})">Kitabı Sil</button></td>
              {% for author in book.author.all %}
            <td>{{ author }}</td>
                  {% endfor %}
          </tr>
        {% endfor %}
        </tbody>

      </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    var bookId = $(this).data('book-id');
    var  deleteBook = function (bookId){

        $.ajax({
            url: `{books/${bookId}/remove}`,
            type: 'DELETE',

            success: function(response) {
                console.log('Kitap silindi.');
                location.reload();
            },
            error: function(error) {
                console.log('Bir hata oluştu:', error);
            }
        });
    }

    </script>
{% endblock %}

