<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Kategori</th>
            <th>Kitap Yazar Adı</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>

    {% for book in books %}
        <tr>
{#            {% if book.name  != "Demirciler Çarşısı Cinayeti" %}#}
{#             {% url 'book_detail'  book.slug %}#}
            <td><a href="{{ book.get_absolute_url }}"> {{ book.slug }}</a></td>
            <td>{{ book.category.name }}</td>
            <td><a href="">Sil</a></td>
            {% for authour in book.author.all %}
            <td> {{ authour.first_name }} </td>


                {%endfor%}
{#          {% endif %}#}


        </tr>
            {% endfor %}
    </tbody>
</table>

</body>
</html>